{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion des adhesions{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
            <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h4 class="fw-semibold mb-8">Gestion des adhesions</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Modules</a></li>
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Produits</a></li>
                                <li class="breadcrumb-item" aria-current="page">adhesions</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        <div class="text-center mb-n5">
                            <span class="head-icon"><i class="ti-package"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col"><h5 class="mb-2 fw-semibold fs-4">Liste</h5></div>

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="listes" class="table  border table-striped table-bordered display text-nowrap" style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th class="text-center text-uppercase">#</th>
                                        <th class="text-center text-uppercase">SOCIETE</th>
                                        <th class="text-center text-uppercase">Representant</th>
                                        <th class="text-center text-uppercase">Fonction</th>
                                        <th class="text-center text-uppercase">Email</th>
                                        <th class="text-center text-uppercase">Contact</th>
                                        <th class="text-center text-uppercase">Statut</th>
                                        <th class="text-center text-uppercase">actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for adhesion in adhesions %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ adhesion.entreprise }}</td>
                                            <td>{{ adhesion.civilite }} {{ adhesion.nom }} {{ adhesion.prenoms }}</td>
                                            <td>{{ adhesion.fonction }} </td>
                                            <td>{{ adhesion.email }}</td>
                                            <td>{{ adhesion.telephone }}</td>
                                            <td>{{ adhesion.statut ? '<span class="badge bg-success">VALIDE</span>' : '<span class="badge bg-danger">NON VALIDE</span>' }}</td>
                                            <td class="text-center">
                                                <a href="{{ path('app_backend_adhesion_show', {'id': adhesion.id}) }}"><i class="ti-eye"></i></a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td class="text-center" colspan="7">Aucun adhesion trouvé</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/vendor/css/prism.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/vendor/DataTables/datatables.min.css')) }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('backoffice/vendor/js/prism.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/vendor/DataTables/datatables.min.js')) }}"></script>
    <script>
        $('#listes').DataTable( {
            dom: 'Bfrtip',
            scrollX: true,
            buttons: [
                'copy', 'excel', 'pdf'
            ]
        } );
    </script>
{% endblock %}
