{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="zoneInscription" {{ react_component('MembreParticipationSupplementaire') }}></div>
    </main>
{% endblock %}

{% block title %}Formulaire{% endblock %}

{% block breadcrumb %}
    <div class="zoneBreadcrumb">
        <section id="breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ absolute_url(path('app_home')) }}"><i class="bi bi-house-fill"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Participation</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Formulaire</li>
                </ol>
            </nav>
        </section>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/vendor/DataTables/datatables.min.css')) }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('backoffice/vendor/DataTables/datatables.min.js')) }}"></script>
    <script>
        $('#listes').DataTable( {
            dom: 'Bfrtip',
            scrollX: true,
            buttons: [
                'copy', 'excel', 'pdf'
            ]
        } );
    </script>
{% endblock %}

